body{
}
a{
	text-decoration:none;
}
section{
	margin-top:60px;
}
#welcome{
	text-align:center;
}
#share{
	height:530px;
	text-align:center;
}
#ruler{
	height:530px;
}
#ruler h1{
	text-align:center;
}
#about{
	text-align:center;
	height:530px;
}
section h1{
	margin-top:100px;
	margin-bottom:30px;
}
#mycarousel{
	width:500px;
	height:377px;
	margin:55px auto;
}
#infocircles{
	text-align:center;
	clear:both;
	display:block;
	margin-top:100px;
}
.circlewrap{
	position:relative;
	height:250px;
	width:250px;
	margin-left:50px;
}
.infocircle{
	background-image:url(../img/circle.png);
	background-repeat:no-repeat;
	background-position:0 0;
	height:250px;
	width:250px;
	float:left;
	position:relative;
	cursor:pointer;
	-webkit-transition:all .3s;
}
.infocircle a{
	display:block;
	height:250px;
	width:250px;
	float:left;

}
.circleicon{
	margin-top:42px;
	margin-bottom:10px;
}
.infocircle.hover{
	top:-10px;
}
#ruler p{
	margin-top:50px;
}
.join{
	margin-top:50px;
}
footer{
	position:absolute;
	bottom:0;
}
